<p-dialog
  [(visible)]="display"
  [closable]="false"
  [modal]="true"
  header="Add Product"
>
  <div class="flex flex-col gap-2">
    <div class="flex items-center justify-between gap-2 my-1">
      <label for="name">Name:</label>
      <input
        [(ngModel)]="product.name"
        class="w-auto"
        id="name"
        pInputText
        placeholder="Enter product name"
        type="text"
      />
    </div>

    <div class="flex items-center justify-between gap-2 my-1">
      <label for="price">Price:</label>
      <input
        [(ngModel)]="product.price"
        class="w-auto"
        id="price"
        pInputText
        placeholder="Enter product price"
        type="number"
      />

    </div>
    <div class="flex items-center justify-between gap-2 my-1">
      <label for="image">Image:</label>
      <input
        [(ngModel)]="product.image"
        class="w-auto"
        id="image"
        pInputText
        placeholder="Enter product image"
        type="text"
      />
    </div>
    <div class="flex items-center gap-2 my-1">
      <label for="rating">Rating:</label>
      <p-rating
        [(ngModel)]="product.rating"
        [cancel]="false"
        [readonly]="false"
        iconCancelClass="hidden"
        id="rating"
      ></p-rating>
    </div>
  </div>

  <p-footer>
    <button
      
      (click)="onConfirm()"
      icon="pi pi-check"
      label="Add"
      pButton
      type="button"
    ></button>
    <button
      (click)="onCancel()"
      icon="pi pi-times"
      label="Cancel"
      pButton
      type="button"
    ></button>
  </p-footer>
</p-dialog>
