<div class="h-full flex flex-col gap-2">
  <button (click)="toggleAddPopup()" class="max-w-[15rem] mx-10" icon="pi pi-plus" label="Add Product" pButton
          type="button"></button>
  <div class="flex flex-wrap gap-2 justify-between h-full mx-10">
    <app-product
      (delete)="toggleDeletePopup($event)"
      (edit)="toggleEditPopup($event)"
      *ngFor="let product of products"
      [product]="product"
    ></app-product>
  </div>

  <div class="flex-1">
    <p-paginator
      #paginator
      (onPageChange)="onPageChange($event)"
      [rowsPerPageOptions]="[5, 10, 20]"
      [rows]="rows"
      [totalRecords]="totalRecords"
    ></p-paginator>

  </div>

  <app-edit-popup

    (confirm)="onConfirmEdit($event)"
    [(display)]="displayEditPopup"
    [product]="selectedProduct"
    header="Edit Product"
  ></app-edit-popup>

  <app-edit-popup
    (confirm)="onConfirmAdd($event)"
    [(display)]="displayAddPopup"
    [product]="selectedProduct"
    header="Add Product"
  ></app-edit-popup>
</div>
